/.idea/
/out/
/Game_2D.iml
/src/META-INF/
/src/main/java/resources/sounds/
/src/main/java/resources/tiles/
/src/main/java/resources/player/
/src/main/java/resources/npc/
/src/main/java/resources/mobs/
/save.dat
